body{
   font-family: 'PT Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
}
label{
	width:48%;
	display:inline-block;
}
input[type="submit"]{
	background-color: #26a347;
    border: 1px solid #26a347;
    color: white;
    cursor: pointer;
    margin:25px 8px;
    padding:10px;
    /*float:right;	*/
}

input[type="text"]{
	background-color: #fff;
    border: 1px solid #ececec;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    font-size: 14px;
    height: 15px;
    line-height: 1.42857;
    padding: 3px 6px;
}
a
{
	color:#26a347;
	text-decoration:none;
}
.booltrue{
	height: 30px; 
	width: 30px; 
	border: 0px solid black;
	background-image: url(./images/true.png); 
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.boolfalse{
	height: 30px; 
	width: 30px; 
	border: 0px solid black;
	background-image: url(./images/false.png); 
	display: block;
	margin-left: auto;
	margin-right: auto;
}
h2{
	font-size:15pt;
	color:#003;
	padding-bottom:5px;
}
h3, form{
	color:#646464;
}
table 
{
    border-collapse: collapse;
    border-spacing: 0;
    width:100%;
}
td
{
	border-top: 1px solid #ddd;
    line-height: 1.42857;
    padding: 8px;
	color:#798e97;
}
th
{
	background-color: #fff;
	font-size: 16px;
	padding: 10px 5px;
	text-align:left;
	color:#646464;
}
@media (max-width: 500px) 
{
	.responsive-table-line td:before 
	{ 
	content: attr(data-title);
	}
	.responsive-table-line table,
	.responsive-table-line thead, 
	.responsive-table-line tbody, 
	.responsive-table-line th, 
	.responsive-table-line td, 
	.responsive-table-line tr 
	{ 
		display: block; 
	} .responsive-table-line 
	thead tr 
	{ 
		display:none;
	}
	.responsive-table-line td 
	{ 
		position: relative;
		padding-left: 42% !important; 
		white-space: normal; 
	}
	.responsive-table-line td:before
	{ 
		position: absolute;
		top: 0px;
		left: 0px;
		width: 35%; 
		padding-right: 15px; 
		height:100%;
		white-space: nowrap;
		text-overflow: ellipsis !important;
		overflow:hidden !important;
		text-align:left;
		background-color:#999;
		padding:8px;
		color:#fff;
	}
	tr
	{
		border: solid 1px #ddd;
	}
	label
	{
		width:90%;
	}
}
