/*
Theme Name: Pays-d'Enhaut Region
Theme URI: http://allmeo.com
Description: Le thème par défaut pour pdeRegion
Version: 1
Author: MEO
Author URI: http://www.allmeo.com

*/

/* Begin Typography & Colors */
body {
	font-size: 62.5%; /* Resets 1em to 10px */
	font-family: arial,sans-serif;
	background: #d5d6d7;
	text-align: center;
}

img {
	margin:0;
	padding:0;
	border:none;
}

a, a:visited {
	color: rgb(100,100,100);
	text-decoration: none;
}

a:hover {
	color: black;
	text-decoration: none;
}


/*------------------------------------MENU--------------------------------------*/
#menu {
	background-image: url(images/fond_menu.jpg);
	background-repeat:repeat-x;
	width: 100%;
	height:30px;
	margin:0 auto;
	padding:0;
	padding-top: 0px;
	font-size:14px;
	float: left;
	text-transform: uppercase;
}

#menu #menuRoll ul ul { /* Ensure submenus are hidden when page is opened */
	display: none;
	visibility: hidden;
}
	
/*** ESSENTIAL STYLES ***/
.sf-menu,.sf-menu * {
	margin:0;
	padding:0;
	list-style:none;
	color: rgb(214,215,215);
}

.sf-menu {
	line-height:1.0;
	float: left;
}

.sf-menu ul {
	margin-left:-1px;
	margin-top:10px;
	position:absolute;
	width:247px;
}

.sf-menu ul li {
	width:247px;
}

.sf-menu li:hover {
	visibility:inherit;
}

.sf-menu li {
	float:left;
	position:relative;
	background:transparent none repeat scroll 0 0;
}

.sf-menu a {
	display:block;
	position:relative;
	padding:10px 15px;
	text-decoration:none;
	font-weight: bold;
	color: rgb(100,100,100);
	font-size: 65%;
}

.sf-menu li:hover ul,.sf-menu li.sfHover ul {
	left:0;
	top:20px;
	borderl-left: 1px solid rgb(100,100,100);
	z-index:99;
}

.sf-menu li a,.sf-menu li a:visited {
	color: rgb(100,100,100);
}

.sf-menu li a:hover {
	color: black;
}

.sf-menu li ul li a {
	
	background-repeat:no-repeat;
	background-position:0px 0px;
	padding-left:30px;
	background-color: rgb(214,214,215);
	filter:alpha(opacity=80);
	background-color:rgba(214,214,215,1);
	opacity:0.9;
}

* html .sf-menu li ul li a,* html .sf-menu li ul li a:visited {
	background-color:black!important;
	filter:alpha(opacity=95)!important;
	opacity:0.95!important;
	color: rgb(200,200,200);
}

*+html .sf-menu li ul li a,* html .sf-menu li ul li a:visited {
	background-color:black!important;
	filter:alpha(opacity=95)!important;
	opacity:0.95!important;
	color: rgb(200,200,200);
}

.sf-menu li ul li a:hover {
	background-repeat:no-repeat;
	background-position:0px 0px;
	padding-left:30px;
	background-color:rgb(213,213,213);
	color: black;
	filter:alpha(opacity=100);
	opacity:1; 
}

* html .sf-menu li ul li a:hover {
	background-color:black;
	filter:alpha(opacity=100);
	opacity:1;
}

*+html .sf-menu li ul li a:hover {
	background-color:black;
	filter:alpha(opacity=100);
	opacity:1;
}

.sf-menu li li {
	text-align:left;
	border-bottom:1px solid white;
	line-height:120%;
}

.sf-menu li li:last-child {
	text-align:left;
	border-bottom:none;
}

.sf-menu li li:hover {
}
	
/*------------------------------------END MENU----------------------------------*/

ul.linksHome {
	list-style-type: none;
	width: 280px;
}

ul.linksHome a {
	color: white;
	font-size: 12pt;
	text-decoration: none;
}

ul.linksHome a:hover {
	color: rgb(213,27,50);
}

ul.linksHome li {
	border-bottom: 1px dashed rgb(255,255,255);
	margin-top: 10px;
	text-transform: uppercase;
}

#searchsubmit input {
	background-color: rgb(238,238,238);
	color: rgb(154,154,154);
}

#searchsubmit {
	padding-top: 1px;
}

#searchsubmit a {
	background-color: rgb(238,238,238);
	color: rgb(213,27,50);
	font-size: 65%;
	font-weight: bold;
}


#container {
	text-align:left;
	width:960px;
	margin:0px auto;
	background: #fff repeat-x bottom;
}

#header .logo_pde {
	padding-left: 23px; /* 40px */
	padding-top: 55px; /* 20px */
	float: left;
}

#header .logo_vaud {
	padding-right: 30px;
	padding-top: 40px;
	text-align: right;
	height:50px;
}

#searchWP {
	text-align: right;
	padding-right: 5px;
	padding-bottom: 15px;
}

#bannerHome {
	margin-top: 30px;
	padding-bottom: 1px;
	width: 100%;
	height: 302px;
	text-align: left;
	color: white;
	border-bottom: 1px solid rgb(100,100,100);
}

#contentHome {
	width: 100%;
	text-align: left;
	color: black;
	margin-top: 1px;
}

#content ul.sitemap {
	margin: 50px;
	margin-left: 30px;
	font-size: 10pt;
	list-style-image: url(images/listImg.png);
	text-transform: uppercase;
}

#excerptHome {
	width: 642px;
	font-size: 10pt;
	line-height: 18px;	
	text-align: left;
	float: left;
}

#excerptHome p {
	margin: 0px;
	margin-top: 2px;
}

#actuHome {
	width: 280px;
	text-align: left;
	line-height: 18px;
	font-size: 10pt;
	height: 100%;
	padding-left: 0px;
	padding-top: 10px;
	margin-right: 15px;
	float: right;
}

#actuHome #facebook_link {
	padding-bottom: 10px;
	text-align: right;
	vertical-align:top;
}

#actuHome #facebook_link a {
	color: #646464;
}

#actuHome #facebook_link a:hover {
	color: black;
}

#actuHome p {
	margin: 0px;
	margin-top: 2px;
}

#left {
	width: 320px;
	text-align: left;
	float: left;
}

#left a {
	color:black
}

#right {
	width: 320px;
	text-align: left;
	float: right;
}

#right a {
	color:black
}

#colorBack {
	height: 54px;
	color:white;
	padding-top: 10px;
	padding-left: 5px;
	text-transform: uppercase;
	text-shadow: rgba(0,0,0,0.6) 2px 3px 2px;
}

#colorBackSmall {
	height: 47px;
	color:white;
	padding-top: 6px;
	padding-left: 5px;
	text-transform: uppercase;
	text-shadow: rgba(0,0,0, 0.6) 2px 3px 2px;
	filter: glow(color=#0000ff,strength=3);

filter: dropshadow(color=#ffff00,offX=5,offY=5);
	filter: Shadow(Color=#000000, 	
			Direction=135, 
			Strength=5);

}

#bottom {
	width: 945px;
	clear: both;
	padding-left: 15px;
	padding-top: 20px;
	height: 40px;
}

#sidebar {
	width: 325px;
	text-align: left;
	margin-left: 15px;
	margin-top: 15px;
	float: left;
}

#content {
	width: 605px;
	text-align: left;
	margin-top: 5px;
	margin-right: 15px;
	float: right;
}

#titlePage {
	width: 100%;
	border-bottom: 1px dashed black;
	border-top: 1px dashed black;
	padding-top: 3px;
	padding-bottom: 1px;
	font-size: 12pt;
	color: rgb(213,27,50);
	text-transform: uppercase;
}

#titlePageJobs {
	width: 100%;
	border-bottom: 1px dashed black;
	border-top: 1px dashed black;
	margin-top: 10px;
	padding-top: 5px;
	padding-bottom: 1px;
	font-size: 12pt;
	color: rgb(213,27,50);
	text-transform: uppercase;
}

#titlePageJobs a {
	color: rgb(213,27,50);
}

#titlePageJobs a:hover {
	color: rgb(154,154,154);
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

#content .post {
	border-bottom:1px dashed black;
	padding: 10px 0 10px 0;
	float:left;
}

#content .post .intro_post_image {
	margin:0 15px 0 0;
	float: left;
}

#content .postWithoutImg {
	border-bottom:1px dashed black;
	padding: 10px 0 10px 0;
	text-align: justify;
}

#excerptTitle a, #excerptTitle a:visited, .sectiontitle {
	text-transform: uppercase;
	font-size: 10pt;
	color: rgb(213,27,50);
}

#sidebar a, #sidebar a:visited {
	text-transform: uppercase;
	font-size: 8pt;
	color: rgb(68,68,68);
}

#sidebar a:hover {
	font-size: 8pt;
	color: rgb(213,27,50);
}

#sidebar h2 {
	text-transform: uppercase;
	font-size: 8pt;
	color: rgb(68,68,68);
}

#breadcrumb {
	font-size: 8pt;
	color: rgb(213,27,50);
	padding-bottom: 5px;
}

.size-medium {
	float:left;
	padding-right: 10px;
}

ul.menuLinks {
	list-style-type: none;
	padding-left: 0px;
	border-top:1px dashed black;
	width: 280px;
}

ul.menuLinks li {
	border-bottom:1px dashed black;
	padding-top: 5px;
	padding-bottom: 5px;
}

ul.menuLinks li a {
	font-weight: bold;
}

ul.navigation {
	list-style-image: url(images/listImg.png);
}

#related-posts ul {
	margin:0 0 5px 0;
	padding: 0px;
	padding-left: 15px;
	padding-top: 2px;
	font-weight:bold;
	height: 15px;
	list-style-type: none;
	background: url(images/listImg.png) left 4px no-repeat;	
}

#related-posts {
	padding-top: 20px;
}

#sidebar ul.navigation li {
	margin:0 0 5px 0;
	padding:0 0 0 10px;
	padding-top: 2px;
	font-weight:bold;
	height: 15px;
	overflow: hidden;
	background: url(images/listImg.png) left 4px no-repeat;	
}

#sidebar ul.navigation li.current_page_item {
	margin:0 0 5px 0;
	padding:0 0 0 10px;
	padding-top: 2px;
	background: url(images/listImg.png) left 4px no-repeat;
	height: auto;
}

#sidebar ul.navigation li.current_page_ancestor {
	margin: 0 0 5px 0;
	padding:0 0 0 10px;
	padding-top: 2px;
	font-weight:bold;
	background: url(images/listImg.png) left 4px no-repeat;
	height: auto;
}

#sidebar ul.navigation li.current_page_parent ul li.current_page_item {
	background: none;
	margin: 0 0 5px 0;
	padding:0 0 0 10px;
	padding-top: 2px;
	background: url(images/listImg.png) left 4px no-repeat;
}

#sidebar ul.navigation ul {
	margin:3px 0 0;
	padding:0 0 0 0;
}

#sidebar ul.navigation li ul li {
	margin: 0 0 5px 0;
	padding:0 0 0 10px;
	padding-top: 2px;
	font-weight:normal;
	background: url(images/listImg.png) left 4px no-repeat;
}

td p {
	margin-top: 0;
}

/* ADD TO ANY */

ul.addtoany_list {
	margin: 0px;
	padding:0px;
}

.addtoany_share_save_container{
	margin:0px 0;
}

ul.addtoany_list{
	display:inline;
	list-style-type:none;
	margin:0 !important;
	padding:0 !important;
	text-indent:0 !important;
}
ul.addtoany_list li{
	background:none !important;
	border:0;
	display:inline !important;
	line-height:32px;
	list-style-type:none;
	margin:0 !important;
	padding:0 !important;
}
ul.addtoany_list li:before{content:"";}
ul.addtoany_list li a{padding:0 0px;}
ul.addtoany_list img{
	float:none;
	border:0;
	margin:0;
	padding:0;
	vertical-align:top;
}
ul.addtoany_list a img{
	padding-top: 4px;
	opacity:.7;
	filter:alpha(opacity=70);
}
ul.addtoany_list a:hover img, ul.addtoany_list a.addtoany_share_save img{
	opacity:1;
	filter:alpha(opacity=100);
}
a.addtoany_share_save img{border:0;width:auto;height:auto;}


/* AddThis */
.addthis_default_style a img {
	vertical-align: top;
}

.addthis_button_email img {
	padding-top: 2px;
}

.addthis_button_facebook img {
	padding-top: 2px;
}

.sharelinks div.atclear {
	display: inline;
	clear: none !important;
}

.sharelinks {
	vertical-align: top;
	float: right;
}

.sharelinks img {
	padding-left: 4px;
}

.sharelinks .rsswidget img {
	padding-top: 1px;
}

/* cforms - cforms6 = commander des publications */
/* cforms - cforms6 = commander des publications */
#cforms6form {
	width: 605px;
}

#cforms6form ol.cf-ol li#li-6-1 label,
#cforms6form ol.cf-ol li#li-6-1 label span,
#cforms6form ol.cf-ol li#li-6-2 label,
#cforms6form ol.cf-ol li#li-6-2 label span,
#cforms6form ol.cf-ol li#li-6-3 label,
#cforms6form ol.cf-ol li#li-6-3 label span,
#cforms6form ol.cf-ol li#li-6-4 label,
#cforms6form ol.cf-ol li#li-6-4 label span,
#cforms6form ol.cf-ol li#li-6-5 label,
#cforms6form ol.cf-ol li#li-6-5 label span,
#cforms6form ol.cf-ol li#li-6-6 label,
#cforms6form ol.cf-ol li#li-6-6 label span {
	width: 190px;
}

#cforms6form ol.cf-ol li#li-6-1 input,
#cforms6form ol.cf-ol li#li-6-2 input,
#cforms6form ol.cf-ol li#li-6-3 input,
#cforms6form ol.cf-ol li#li-6-4 input,
#cforms6form ol.cf-ol li#li-6-5 input,
#cforms6form ol.cf-ol li#li-6-6 input {
	width: 150px;
}

#cforms6form ol.cf-ol li label,
#cforms6form ol.cf-ol li label span {
	width: 450px;
}

#cforms6form ol.cf-ol li input {
	width: 25px;
}

#cforms6form ol.cf-ol li.cf-box-title {
	display: none;
	padding: 0px !important;
	margin: 0px !important;
}

#cforms6form label.cf-group-after span {
	width: 200px !important;
}

/* Search */
.row-fluid::before, .row-fluid::after {
    content: "";
    display: table;
    line-height: 0;
}
.row-fluid::before, .row-fluid::after {
    content: "";
    display: table;
    line-height: 0;
}
.row-fluid::after {
    clear: both;
}
.row-fluid::before, .row-fluid::after {
    content: "";
    display: table;
    line-height: 0;
}
.row-fluid::after {
    clear: both;
}
.row-fluid::before, .row-fluid::after {
    content: "";
    display: table;
    line-height: 0;
}
.row-fluid {
    width: 100%;
}
.clearfix::before, .clearfix::after {
    content: "";
    display: table;
    line-height: 0;
}
.clearfix::before, .clearfix::after {
    content: "";
    display: table;
    line-height: 0;
}
.clearfix::after {
    clear: both;
}
.clearfix::before, .clearfix::after {
    content: "";
    display: table;
    line-height: 0;
}
.clearfix::after {
    clear: both;
}
.clearfix::before, .clearfix::after {
    content: "";
    display: table;
    line-height: 0;
}
.csc-default {
    clear: both;
}
.clearfix {
}
/* // */
